@*@model WorkShop.Models.CategorieModel*@
@model IEnumerable<WorkShop.Models.CategorieModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

@Html.ActionLink("Ajouté une nouvelle catégorie", "Add" @*, new {  id= Model.Select(x => x.) }*@)
<br />
<table class="table">
    <thead>
        <tr>
            <th>Listes des categories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
